<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207921939340-v74ntfkmtof6lti2b6g2lag5tqj2r1u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207921939340-v74ntfkmtof6lti2b6g2lag5tqj2r1u9</string>
	<key>API_KEY</key>
	<string>AIzaSyBluJk8qp-JtA3sB58XY6D_lgA8XgxNqrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>207921939340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haup.dsrecords</string>
	<key>PROJECT_ID</key>
	<string>dsrecords-621fb</string>
	<key>STORAGE_BUCKET</key>
	<string>dsrecords-621fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207921939340:ios:b2d64c28fc1adb2c530ca9</string>
</dict>
</plist>